body {
    background-color:  #D0C6B1;
    font-family: 'Roboto', sans-serif;
  }
h1 {
    margin-bottom: 60px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #865F3A;
  }
#sort{
    background-color:black;
    border: black;
}

#group-by {
    display: inline-block;
    background:black;
    max-width: 300px;
    border: 1px solid black;
    color:white;
  }